*{
    padding:0px;
    margin:0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;


}


.container{
    height:500px;
    width:1000px;
    padding:10px;

    display:grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 1fr;
    background-color: rgb(37, 8, 8);
    gap:10px
    

}
.first{
    background-color: red;
    grid-row-start:1;
    grid-row-end:3;

    

}
.second{
    background-color: aqua;
    grid-column-start:2;
    grid-column-end:4;

}
.third{
    background-color: rgb(195, 195, 67);
    grid-column-start:4;
    grid-column-end:6;


}
.fourth{
    background-color: rgb(195,195,67);
    grid-column:2;
    grid-row-start:2;
    grid-row-end:4
    


}
.five{
background-color: white;

grid-column-start:3;
grid-column-end:5;
grid-row-start:2;
grid-row-end:4


}
.six{
    background-color: red;
    grid-column-start:5;
    grid-row-start:2;
    grid-row-end:5;

}
.seven{
    background-color: aliceblue;
    grid-row-start:3;
    grid-row-end:5;


}
.eight{
    background-color: red;


}
.nine{
    background-color: aqua;
    grid-column-start: 3;
    grid-column-end:5;

}