*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{background-color: rgb(17, 3, 3);
    height: 100vh;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
   
    
}
.box{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    cursor: pointer;
    /* transition-property: all;
    transition-duration: 3s;
    transition-timing-function: linear; */
    transition: all 3s ease-in 1s;
    
}
.box:hover {
    background-color: red;
    width: 300px;
    height: 300px;

}